*.class

# Package Files #
*.jar
*.war
*.ear
/IECSandroPratica4Data19062012/nbproject/private/
/IECSandroPratica4Data19062012/build/
/IECSandroPratica3Data12062012/dist/
/IECSandroPratica4Data19062012/dist/